:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1399px;
  margin: 0 auto;
  background: linear-gradient(180deg, #1b202a, #5c6d90);
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 175px;
  margin: 6px 0 0 0;
  background: #f2aa4c;
  z-index: 56;
}
.questhub-logo {
  position: absolute;
  width: 184px;
  height: 164px;
  top: 0;
  left: 38px;
  background: url(./assets/images/fa9e0569b2d05ec661e23ea6ed3da713c6b327a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.removebg-preview {
  position: absolute;
  width: 85px;
  height: 68px;
  top: 53px;
  left: 1355px;
  background: url(./assets/images/fa51163990a9917b9e68693950c4890a6ed2cc96.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.removebg-preview-1 {
  position: absolute;
  width: 85px;
  height: 68px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa51163990a9917b9e68693950c4890a6ed2cc96.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.removebg-preview-2 {
  position: absolute;
  width: 85px;
  height: 68px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa51163990a9917b9e68693950c4890a6ed2cc96.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.vector {
  position: absolute;
  width: 3px;
  height: 63px;
  top: 56px;
  left: 1262.5px;
  background: url(./assets/images/037de0f8-c25b-4e3c-97ee-7866be2f278c.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
}
.vector-3 {
  position: absolute;
  width: 3px;
  height: 63px;
  top: 58px;
  left: 1346.5px;
  background: url(./assets/images/84ba0461-f982-4310-affa-dfd0ee91515b.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.vector-4 {
  position: absolute;
  width: 3px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/ba0046fb-ce5a-4c01-b953-b1b1850281d3.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.vector-5 {
  position: absolute;
  width: 3px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/d45eee1e-d101-489b-8242-df80096c152d.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
}
.vector-6 {
  position: absolute;
  width: 3px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/c9ddad8a-d0ce-4a21-b280-d73fde59a7f3.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.rectangle-7 {
  position: absolute;
  width: 678px;
  height: 52px;
  top: 61px;
  left: 243px;
  background: #d9d9d9;
  border: 1px solid #000000;
  z-index: 58;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.search-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 10px;
  left: 40px;
  color: #000000;
  font-family: Inria Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.5;
  z-index: 59;
}
.settings-icon {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 62px;
  left: 1190px;
  background: url(./assets/images/f1a74b07473a229b4ce3517bf0e7f92e40599aaa.png)
    no-repeat center;
  background-size: cover;
  z-index: 72;
}
.removebg-preview-8 {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 65px;
  left: 1278px;
  background: url(./assets/images/5c69dc77e10b66102e9cb9ef911817925030966c.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.removebg-preview-9 {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 0;
  left: 0;
  background: url(./assets/images/5c69dc77e10b66102e9cb9ef911817925030966c.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.removebg-preview-a {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 0;
  left: 0;
  background: url(./assets/images/5c69dc77e10b66102e9cb9ef911817925030966c.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.removebg-preview-b {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 0;
  left: 0;
  background: url(./assets/images/5c69dc77e10b66102e9cb9ef911817925030966c.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.flex-row-fba {
  position: relative;
  width: 1382px;
  height: 872px;
  margin: 50px 0 0 38px;
  z-index: 54;
}
.photoroom {
  position: absolute;
  width: 714px;
  height: 671px;
  top: 0;
  left: 58px;
  background: url(./assets/images/9af2fd8570fea4fb835f0971249861368e77586b.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.rectangle-c {
  position: absolute;
  width: 817px;
  height: 724px;
  top: 17px;
  left: 0;
  background: url(./assets/images/d8b572d9-d629-4a81-9367-e1e5f7a9487f.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.f-uy-lwghzlq-aqwe-grmiccfa-szuazxtf-photoroom {
  position: relative;
  width: 65px;
  height: 72px;
  margin: 14px 0 0 739px;
  background: url(./assets/images/6b86ea5f81bf59267a624730c5b59761d182ab6a.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.rectangle-d {
  position: absolute;
  width: 518px;
  height: 334px;
  top: 17px;
  left: 851px;
  font-size: 0px;
  background: url(./assets/images/791d68ce-1018-433d-85b1-238b647707c4.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.price-php {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 224px;
  height: 31px;
  margin: 136px 0 0 20px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: center;
  white-space: nowrap;
  z-index: 45;
}
.image {
  position: relative;
  width: 75px;
  height: 41px;
  margin: 56px 0 0 140px;
  background: url(./assets/images/345af3681684662fc08ed1f32dc1f4c178fd914b.png)
    no-repeat center;
  background-size: cover;
  z-index: 48;
}
.rectangle-e {
  position: relative;
  width: 463px;
  height: 30px;
  margin: 19px 0 0 27px;
  background: url(./assets/images/5caa8776-a18f-4381-8166-8361bdd71120.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400.673px;
  height: 14px;
  top: 8px;
  left: 31.163px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  z-index: 51;
}
.msi-ds-gaming-headset {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 541px;
  height: 79px;
  top: 55px;
  left: 841px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 48.409px;
  text-align: center;
  z-index: 44;
}
.stock-in-stock {
  position: absolute;
  width: 224px;
  height: 31px;
  top: 198px;
  left: 845px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 46;
}
.stock {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: center;
}
.in-stock {
  position: relative;
  color: #008000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: center;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 224px;
  height: 31px;
  top: 245px;
  left: 817px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: center;
  white-space: nowrap;
  z-index: 47;
}
.tech-specs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 336px;
  height: 31px;
  top: 362px;
  left: 926px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 31px;
  text-align: center;
  white-space: nowrap;
  z-index: 52;
}
.rectangle-f {
  position: absolute;
  width: 518px;
  height: 468px;
  top: 404px;
  left: 845px;
  background: url(./assets/images/b573dcba-2ecc-4c3b-89d0-b2f27cc70779.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.high-quality-speaker {
  position: relative;
  width: 500px;
  height: 416px;
  margin: 21px 0 0 13px;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: left;
  z-index: 55;
}
.ergonomic-design {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: left;
}
.quality-audio-details {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: left;
}
.ergonomic-design-10 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: left;
}
.quality-audio-details-11 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: left;
}
.ergonomic-design-12 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: left;
}
.quality-audio-details-13 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: left;
}
.ergonomic-design-14 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: left;
}
.adjustable-microphone {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: left;
}
.rectangle-15 {
  position: relative;
  width: 1440px;
  height: 262px;
  margin: 34px 0 0 0;
  background: #f2aa4c;
  overflow: visible auto;
}
.flex-row-e {
  position: relative;
  width: 1403px;
  height: 171px;
  margin: 0 0 0 4px;
  z-index: 40;
}
.questhub-logo-16 {
  position: absolute;
  width: 156px;
  height: 138px;
  top: 0;
  left: 33px;
  background: url(./assets/images/fa9e0569b2d05ec661e23ea6ed3da713c6b327a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.questhub-logo-17 {
  position: absolute;
  width: 156px;
  height: 138px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa9e0569b2d05ec661e23ea6ed3da713c6b327a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.questhub-logo-18 {
  position: absolute;
  width: 156px;
  height: 138px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa9e0569b2d05ec661e23ea6ed3da713c6b327a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.questhub-logo-19 {
  position: absolute;
  width: 156px;
  height: 138px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa9e0569b2d05ec661e23ea6ed3da713c6b327a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.follow-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 32px;
  left: 1191px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.follow-us-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 32px;
  left: 1191px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.customer-care {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 40px;
  left: 686px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.customer-care-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 40px;
  left: 686px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.phone-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 44px;
  left: 304px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 46px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.contact-us-1c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 46px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.removebg-preview-1d {
  position: absolute;
  width: 80px;
  height: 97px;
  top: 71px;
  left: 1292px;
  background: url(./assets/images/8b03277d2b70163043f1f5abec28f8ce60fbb15f.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.removebg-preview-1e {
  position: absolute;
  width: 80px;
  height: 97px;
  top: 0;
  left: 0;
  background: url(./assets/images/8b03277d2b70163043f1f5abec28f8ce60fbb15f.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.removebg-preview-1f {
  position: absolute;
  width: 80px;
  height: 97px;
  top: 0;
  left: 0;
  background: url(./assets/images/8b03277d2b70163043f1f5abec28f8ce60fbb15f.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.removebg-preview-20 {
  position: absolute;
  width: 80px;
  height: 97px;
  top: 0;
  left: 0;
  background: url(./assets/images/8b03277d2b70163043f1f5abec28f8ce60fbb15f.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.my-account-wish-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 102px;
  height: 94px;
  top: 77px;
  left: 722px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 8;
}
.my-account-wish-list-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 102px;
  height: 94px;
  top: 77px;
  left: 722px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 9;
}
.my-account-wish-list-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 102px;
  height: 94px;
  top: 77px;
  left: 722px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 28;
}
.my-account-wish-list-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 102px;
  height: 94px;
  top: 77px;
  left: 722px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 29;
}
.explore-questhub {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 83px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 10;
}
.explore-questhub-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 83px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 11;
}
.explore-questhub-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 83px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 30;
}
.explore-questhub-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 83px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 31;
}
.removebg-preview-27 {
  position: absolute;
  width: 65px;
  height: 63px;
  top: 88px;
  left: 1159px;
  background: url(./assets/images/4d9fcf3e0181ebf1375648447cd5102b88e777fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.removebg-preview-28 {
  position: absolute;
  width: 65px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/4d9fcf3e0181ebf1375648447cd5102b88e777fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.removebg-preview-29 {
  position: absolute;
  width: 65px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/4d9fcf3e0181ebf1375648447cd5102b88e777fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.removebg-preview-2a {
  position: absolute;
  width: 65px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/4d9fcf3e0181ebf1375648447cd5102b88e777fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.facebook-logo {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 94px;
  left: 1236px;
  background: url(./assets/images/8ae4a4dd1c3d8a73e4dca1a41aa377e9a19497c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.facebook-logo-2b {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
  background: url(./assets/images/8ae4a4dd1c3d8a73e4dca1a41aa377e9a19497c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.facebook-logo-2c {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
  background: url(./assets/images/8ae4a4dd1c3d8a73e4dca1a41aa377e9a19497c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
}
.facebook-logo-2d {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
  background: url(./assets/images/8ae4a4dd1c3d8a73e4dca1a41aa377e9a19497c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.phone-number-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 115px;
  left: 303px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.created-by {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 141px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.created-by-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 141px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.created-by-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 141px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.created-by-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 141px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-row {
  position: relative;
  width: 236px;
  height: 75px;
  margin: -3px 0 0 9px;
  z-index: 39;
}
.placeholder-copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 236px;
  height: 75px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 18;
}
.placeholder-copyright-32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 236px;
  height: 75px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 19;
}
.placeholder-copyright-33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 236px;
  height: 75px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 38;
}
.placeholder-copyright-34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 236px;
  height: 75px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 39;
}
